@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

html,
body {
  @apply p-0 m-0 text-base font-normal text-white;
  text-size-adjust: none;
}

a {
  @apply text-inherit;
  text-decoration: none;
}

input {
  @apply text-[#333333] focus-visible:outline-none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; /*Hide scrollbar*/
  scrollbar-width: none; /*Hide scrollbar*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  button {
    -webkit-tap-highlight-color: transparent;
  }

  button:focus {
    outline: 0;
  }
}

@font-face {
  font-family: 'Brandon';
  src: url('/fonts/Brandon_reg.otf') format('otf'),
  url('/fonts/Brandon_reg.otf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon';
  src: url('/fonts/Brandon_med.otf') format('otf'),
  url('/fonts/Brandon_med.otf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon';
  src: url('/fonts/Brandon_bld.otf') format('otf'),
  url('/fonts/Brandon_bld.otf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
